.msg-header {
   clear: both;
   background-color: #EEF;
}

.navbar {
   margin-bottom: 0px;
}

body {
   font-family: 'Raleway', sans-serif;
}

.siteTitle {
   font-family: 'Lato', sans-serif;
   font-size: 3em;
   width: 400px;
}

.jumbotron {
   list-style: none;
/*   width: 100%;
   height: 50%;*/
   padding: 0;
}

.slide1, .slide2 {
   background-position: 20% 20%;
   height: 450px;
   width: 100%;
   background-size: 100%;
   background-repeat: no-repeat;
}

.slide1 {
   background-image: url("Assets/Project2.jpg");
   display: none;
}

.slideText2 {
   position: relative; 
   top: 5%;
   left: 20px;
}

.slide2 {

   background-image: url("Assets/Meet_Team.jpg");
}

.homeContainer {
   font-family: 'Lato', sans-serif;
   color: #E0E0E0;
   text-shadow: 1px 1px 1px #000;
}

.pull-right li {
   color: #777;
   top: 10px;
   display: inline;
}

.pull-right li a {
   text-decoration: none;
   position: relative;
   display: inline;
   color: #777;
}

.pull-right li a:hover {
   text-decoration: none;
   background-color: #eee;
   background-color: transparent;
}
/*
.pull-right li a.dropdown-title {
   color: #23527c;
}

.pull-right li a.dropdown-title:hover {
   text-decoration: underline;
}

#username, #dropdown {
   margin: 15px;
}

.dropdown-item {
   margin: 0px;
}

.dropdown-menu li a{
   color: #333;
}*/